* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.emoji-flotante {
  position: fixed;
  bottom: -50px;
  font-size: 1.8rem;
  animation: subir 10s linear infinite;
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
  color: #fbbf24;
  filter: drop-shadow(0 0 8px rgba(251, 191, 36, 0.5));
}

@keyframes subir {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-110vh) rotate(360deg);
    opacity: 0;
  }
}

  
  body {
    margin: 0;
    background: linear-gradient(135deg, #1e1f29, #383a59);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #2c2f48;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #ffd700;
  }
  
  .section {
    margin-bottom: 25px;
  }
  
  button {
    background: #444;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover, button.selected {
    background: #ffd700;
    color: #222;
  }
  
  #startBtn {
    background: #ffd700;
    color: #222;
    font-weight: bold;
  }
  
  .question-container {
    display: none;
  }
  
  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #ffd700;
    font-weight: 600;
  }
  
  img {
    max-width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    height: 220px;
    object-fit: cover;
    background: #111;
  }
  
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
  }
  
  .answer {
    background: #444;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 48px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  
  .answer:hover {
    background: #ffd700;
    color: #222;
  }
  
  .correct {
    background: #4CAF50 !important;
    color: #fff;
  }
  
  .incorrect {
    background: #E74C3C !important;
    color: #fff;
  }
  
  /* Resultado */
  #resultText {
    font-size: 18px;
    margin: 15px 0;
  }

#muteBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  background: #444;
  color: #ffd700;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  transition: 0.3s;
  z-index: 10;
  padding: 0%;
}

#muteBtn:hover {
  background: #ffd700;
  color: #222;
}
